*
{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myfont;
    src: url('/static/fonts/LeMans.ttf');
}

body
{
    overflow-x: hidden;
    height: 100vh;
    color: white;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.title {
    position: fixed;
    top: 40px;
    left: 80px;
    font-size: 70px;
    font-family: myfont;
    letter-spacing: 5px;
    color:lightgreen;
}

.name {
    position: fixed;
    top: 120px;
    left: 80px;
    font-size: 50px;
    font-family: myfont;
    letter-spacing: 5px;
    color:lightgreen;
}

.text-1 {
    position: fixed;
    color: lightgreen;
    border: 1px solid red;
    padding: 10px;
    height: 100px;
    width: 300px;
    top: 30%;
    right: 10%;
}
.text-2 {
    position: fixed;
    color: lightgreen;
    border: 1px solid red;
    padding: 10px;
    height: 100px;
    width: 300px;
    top: 50%;
    left: 10%;
}
.text-3 {
    position: fixed;
    color: lightgreen;
    border: 1px solid red;
    padding: 10px;
    height: 80px;
    width: 300px;
    top: 60%;
    right: 10%;
}
.text-4 {
    position: fixed;
    color: lightgreen;
    border: 1px solid red;
    padding: 10px;
    height: 150px;
    width: 300px;
    top: 10%;
    left: 10%;
}
.text-5 {
    position: fixed;
    color: lightgreen;
    border: 1px solid red;
    padding: 10px;
    height: 100px;
    width: 300px;
    top: 50%;
    right: 10%;
}
footer a {
    position: fixed;
    bottom: 40px;
    left: 80px;
    font-size: 20px;
    font-family: consolas;
    letter-spacing: 10px;
    color: red;
    text-decoration: none;
}
